.font1 {
    font-family: 'Oswald', sans-serif;
}

.home-page {
    height: 100vh;
    background-image: url('banner.jpg');
    background-size: cover;

    overflow: hidden;
}

.hero-container {
    display: flex;

    background: rgba(0, 0, 0, 0.5);

    padding-top: 10vh;
    padding-bottom: 10vh;

    margin-top: 98px;
}

.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50vw;

    margin-left: 10%;
}

.banner-text1 {
    color: white;
    font-size: 2.5vw;
}

.banner-text2 {
    background-image: linear-gradient(45deg, #ff7b00, magenta);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

    font-size: 2.5vw;
}

.banner-button-container{
    margin-top: 30px;
    width: 15vw;
}

.banner-button {
    background-color:  #ff7b00 !important;
    border: none !important;
    border-radius: 20px !important;

    width: 100%;
}

.banner-button:focus {
    box-shadow: none !important;
}

.banner-button:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.video-content {
    position: relative;

    width: 40vw;
    height: 100%;

    margin: auto;
    margin-right: 10%;
  }

.video-content video {
    width: 100%;
    display: block;

    border-radius: 5px;
}

.video-content:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.newsletter-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    background: white;

    min-height: 100%;

    padding: auto;
    padding-top: 25px;
}

.newsletter-header {
    color: black;
    font-size: 3.5rem;

    margin-bottom: 15px;
}

.newsletter-info {
    color: black;
    font-weight: 200;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
}

.newsletter-input {
    background: #f2f2f2;

    width: 30vw;
    height: 4vh; 

    padding: 5px;
    padding-left: 15px;
    
    border-radius: 20px;
    border: none;
}

.newsletter-input:focus {
    outline: none;
}

.newsletter-button {
    background: #ff7b00 !important;

    width: 8vw;
    height: 4vh;
    
    margin-left: 10px;
    padding: 5px !important;

    border: none !important;
    border-radius: 20px !important;
}

.newsletter-button:hover {
    filter: brightness(90%);
    cursor: pointer;
}