.home-page {
    height: 100vh;
    background-image: url('banner.jpg');
    background-size: cover;

    overflow: hidden;
}

.hero-container {
    display: flex;

    background: rgba(0, 0, 0, 0.5);

    padding-top: 10vh;
    padding-bottom: 10vh;

    margin-top: 98px;
}

.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50vw;

    margin-left: 10%;
}

.banner-text1 {
    font-family: 'Oswald', sans-serif;
    color: white;
}

.banner-text2 {
    font-family: 'Oswald', sans-serif;

    background-image: linear-gradient(45deg, #ff7b00, magenta);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.banner-button-container{
    margin-top: 30px;
    width: 35%;
}

.banner-button {
    background-color:  #ff7b00 !important;
    border: none !important;
    border-radius: 20px !important;

    width: 100%;
}

.banner-button:focus {
    box-shadow: none !important;
}

.banner-button:hover {
    transform: scale(1.03);
}

.video-content {
    position: relative;

    width: 40vw;
    height: 100%;

    margin: auto;
    margin-right: 10%;
  }

.video-content video {
    width: 100%;
    display: block;

    border-radius: 5px;
}

.video-content:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.info1-section {
    display: flex;
    justify-content: center;

    background: white;

    min-height: 100%;
    padding-top: 10vh;
}

.info1-section-text {
    color: black;
    font-size: 4.5rem;
}