.signinbox {
    width: 25vw;
    height: 50vh;

    border: 2px solid #cccccc;
    border-radius: 10px;
    padding: 30px;
}

.singinbox-button {
    width: 100%;

    margin-left: 0 !important;
    margin: 1vh;
}

.createacc-button {
    background-color: #00cc00 !important;
}
