@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&family=Oswald:wght@500&display=swap');

* {
    margin: 0;
}

.navbar-container {
    background: rgba(0, 0, 0, 0.4);
}

.navbar-title {
    font-family: 'Oswald', sans-serif;
    font-size: 48px !important;
    color: #ff7b00 !important;

    margin-left: 10% !important;
    margin-right: 10% !important;
}

.navbar-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px !important;
    color: white !important;

    margin-left: 30% !important;

    white-space: nowrap;
}

.navbar-link:hover {
    color: #bfbfbf !important;
}