@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&family=Oswald:wght@500&display=swap');

* {
    margin: 0;
}

.navbar-container {
    position: absolute !important;
    
    display: flex;
    width: 100%;
    
    top: 1vh !important;
}

.navbar-title {
    font-family: 'Oswald', sans-serif;
    font-size: 4vw !important;
    color: #ff7b00 !important;

    -webkit-text-stroke: 1px #333333;

    margin-left: 7% !important;
    margin-right: 10% !important;
}

.navbar-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px !important;
    color: white !important;

    white-space: nowrap;
}

.navbar-link:hover {
    color: #bfbfbf !important;
}

.account-container {
    display: flex;
    position: absolute;

    right: 4vw;
}

@media only screen and (max-width: 700px) {
    .navbar-container {
        position: absolute !important;
    }
}